.carousel-inner {
  width: 100%; }

#men {
  background: url("../img/men-section.jpg") no-repeat;
  background-size: 100%;
  color: #fff; }

#woman {
  background: url("../img/woman-section.jpg") no-repeat;
  background-size: 100%; }

#kids {
  background: url("../img/kids-section.jpg") no-repeat;
  background-size: 100%; }

#men:hover {
  background: url("../img/men-section.jpg") no-repeat;
  background-size: 100%;
  opacity: 0.9;
  transform: scale(1.05); }

#woman:hover {
  background: url("../img/woman-section.jpg") no-repeat;
  background-size: 100%;
  opacity: 0.9;
  transform: scale(1.05); }

#kids:hover {
  background: url("../img/kids-section.jpg") no-repeat;
  background-size: 100%;
  opacity: 0.9;
  transform: scale(1.05); }

.navbar {
  box-shadow: 2px 2px 5px #fff;
  opacity: 0.9;
  border-bottom: #fff; }

#card-1:hover {
  opacity: 0.9;
  transform: scale(1.1); }

#card-2:hover {
  opacity: 0.9;
  transform: scale(1.1); }

#card-3:hover {
  opacity: 0.9;
  transform: scale(1.1); }

#card-4:hover {
  opacity: 0.9;
  transform: scale(1.1); }

#card-5:hover {
  opacity: 0.9;
  transform: scale(1.1); }

#card-6:hover {
  opacity: 0.9;
  transform: scale(1.1); }

#home {
  background-color: #d9d9d9; }
